h1 {
    color: white;
    text-align: center;
}
h2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}
#winter{
    visibility: hidden;
}
#flex-instructions{
    margin: 0px auto;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    border: 3px solid orange;
    
}
#instruction-board {
    height: 450px;
    width: 450px;
    flex-direction: column;
    background-image: url('images/woodFrame.png');
    background-repeat: no-repeat;
    background-size: 450px;
    
    
}
#round-2 {
    position: absolute;
    z-index: 2;
    visibility: hidden; 
    flex-direction: column;
    justify-content: center;
    opacity: 0.7;
    filter: alpha(opacity = 70);
    background-color: green;
    background: linear-gradient(green, rgb(119, 179, 119));
    height: 250px;
    width: 250px;
    color: white;
}

#round-2:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}
#round-3 {
    position: absolute;
    z-index: 2;
    visibility: hidden; 
    flex-direction: column;
    justify-content: center;
    opacity: 0.7;
    filter: alpha(opacity = 70);
    background-color: green;
    background: linear-gradient(green, rgb(119, 179, 119));
    height: 250px;
    width: 250px;
    color: white;
}

#round-3:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}


#game-board {
    position: fixed;
    width: 100%;
    height: 100vh;
    border: 3px solid blue;
}
#sky-blue {
    height: 25%;
    width: 100%;
    background-color: skyblue;
    background-image: linear-gradient(rgb(0, 174, 255), lightblue);
    padding: 20px;
}
#sun {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url('images/sun.png');
    background-repeat: no-repeat;
    background-size: 50px;
    position: relative;
}
#canvas {
    margin: auto;
    display: block;
    width: 100%;
    height: 75%;
    position: fixed;
    border: 1px solid black;
    background-image: url('images/grass1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#squirrel-div1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('sprites/Screen\ Shot\ 2019-08-02\ at\ 3.57.51\ PM.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    mix-blend-mode: darken;

}
#squirrel-div2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('sprites/Screen\ Shot\ 2019-08-02\ at\ 3.57.51\ PM.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    mix-blend-mode: darken;
}

#score-board {
    display: flex;
    background-color: brown;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25%;
    color: white;
}
#player1-score {
    display: block;
    height: 50px;
    width: 50px;
}
#player1-health {
    display: block;
    height: 50px;
    width: 50px;
}
#player2-score {
    display: block;
    height: 50px;
    width: 50px;
}
#player2-health {
    display: block;
    height: 50px;
    width: 50px;
}
.new-acorn{
    position: absolute;
    display: inline-block;
    background-image: url('images/acorn1.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
.new-heart{
    position: absolute;
    display: inline-block;
    background-image: url('images/heart.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
.new-lawnmower {
    position: absolute;
    display: inline-block;
    background-image: url('images/lawnmower1.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}