h1 {
    color: white;
    text-align: center;
}
h2 {
    text-align: center;
    color: white;
    text-shadow: 3px 5px 5px rgb(21, 38, 41);
}
p {
    padding: 3px;
}
#winter{
    visibility: hidden;
}
#flex-instructions{
    margin: 0px auto;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}
#instruction-board {
    height: 450px;
    width: 450px;
    flex-direction: column;
    background-image: url('images/woodFrame.png');
    background-repeat: no-repeat;
    background-size: 450px;
    font-size: 20px; 
}
#rounds {
    position: absolute;
    z-index: 1;
    visibility: hidden; 
    flex-direction: column;
    text-shadow: 3px 5px 5px rgb(21, 38, 41);
}
#round-2 {
    visibility: hidden;   
    background-image: url('images/acorns.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px; 
}
#round-3 {
    visibility: hidden; 
    background-image: url('images/acorns.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
#win {
    position: absolute;
    z-index: 1;
    height: 350px;
    width: 450px;
    background-image: url('images/acorns.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
#game-board {
    position: fixed;
    width: 100%;
    height: 100vh;
    border: 3px solid black;
}
#sky-blue {
    height: 25%;
    width: 100%;
    background-color: skyblue;
    background-image: linear-gradient(rgb(0, 162, 255), rgb(240, 241, 182));
    padding: 20px;
}
#sun {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url('images/sun.png');
    background-repeat: no-repeat;
    background-size: 50px;
    position: relative;
}
#fence {
    display: inline-block;
    height: 20px;
    width: 100vw;
    background-image: url('images/fence.png');
    background-size: 80px;
}
#canvas {
    margin: auto;
    display: block;
    width: 100%;
    height: 75%;
    position: fixed;
    background-image: url('images/grass1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: hue-rotate(10deg);
}
#squirrel-div1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('sprites/Screen\ Shot\ 2019-08-02\ at\ 3.57.51\ PM.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    mix-blend-mode: darken;
}
#squirrel-div2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('sprites/Screen\ Shot\ 2019-08-02\ at\ 3.57.51\ PM.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    mix-blend-mode: darken;
}
#score-board {
    display: flex;
    background-color: brown;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25%;
    color: white;
}
#player1-score {
    display: block;
    height: 50px;
    width: 50px;
}
#player1-health {
    display: block;
    height: 50px;
    width: 50px;
}
#player2-score {
    display: block;
    height: 50px;
    width: 50px;
}
#player2-health {
    display: block;
    height: 50px;
    width: 50px;
}
.new-acorn{
    position: absolute;
    /* display: inline-block; */
    background-image: url('images/acorn1.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
.new-heart{
    position: absolute;
    /* display: inline-block; */
    background-image: url('images/heart.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
